@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #210D4A;
  --foreground: #ffffff;
  --pink: #FA5FB5;
  --orange: #F99948;
  --blue: #00C7E6;
  --purple: #31175F;
  --green: #3FD191;
  --offwhite: #BCB6C9;

}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
